*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Uchen', serif;
}
/* Utilities */
.text-primary{
    color: rgb(255, 166, 0);
}
.btn{
    display: inline-block;
    text-decoration: none;
     color: #ffff;
     background: linear-gradient(to right, #c20508,#f86329);
     padding: 8px 25px;
     border-radius: 100px;    
}
.my-1{
    margin-top: 10px;
}
.my-3{
    margin-top: 20px;
}
.padding-bottom{
    padding-bottom: 100px;
}
.flex_container{
    display: flex;
    max-width: 1100px;
    margin:  0 auto;
}
.flex_center{
    justify-content: center;
}
.hero_content{
    margin-top: 60px;
    width: 60%;
}
.hero_heading{
    font-size: 60px;
    width: 80%;
    line-height: 1.5;
    color: #333;
}
.hero_text{
    font-size: 17px;
    width: 80%;
    text-align: justify;
    margin: 15px 0;
    line-height: 1.6;
}
.hero_img{
width: 40%;
}
.hero_img img{
    width: 90%;
}

/* About Section */
.about_section{
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
}
.about_heading{
    font-size: 40px;
    color: rgb(156, 155, 155);
}
.about_text{
    text-align: justify;
}