*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Uchen', serif;
}
/* Utilities */
.text-primary{
    color: rgb(255, 166, 0);
}
.btn{
    display: inline-block;
    text-decoration: none;
     color: #ffff;
     background: linear-gradient(to right, #c20508,#f86329);
     padding: 8px 25px;
     border-radius: 100px;    
}
.my-1{
    margin-top: 10px;
}
.my-3{
    margin-top: 20px;
}
.py-3{
    padding: 20px 0;
}
.py-4{
    padding-bottom: 30px;
}
.padding-bottom{
    padding-bottom: 100px;
}
.text-center{
    text-align: center;
}
.flex_container{
    display: flex;
    max-width: 1100px;
    margin:  0 auto;
}
.flex_center{
    justify-content: center;
}
.hero_content{
    margin-top: 60px;
    width: 60%;
}
.hero_heading{
    font-size: 60px;
    width: 80%;
    line-height: 1.5;
    color: #333;
}
.hero_text{
    font-size: 17px;
    width: 80%;
    text-align: justify;
    margin: 15px 0;
    line-height: 1.6;
}
.hero_img{
width: 40%;
}
.hero_img img{
    width: 90%;
}

/* About Section */
.about_section{
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
}
.about_heading{
    font-size: 40px;
    color: rgb(156, 155, 155);
}
.about_text{
    text-align: justify;
}
/* Recipies Section  */
.recipies_heading{
    font-size: 40px;
    color: rgb(148, 145, 145);
}
.recipies_text{
    padding: 0 20px;
}

.box_container{
    width: 100%;
    margin-top: 10px;
}

.box{
    width: 100%;
    padding: 20px;
    box-shadow: 4px 6px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
}
.box_1,.box_2{
    margin-right: 30px;
    
}

.box img{
    width: 100%;
}
.box_title{
    font-size: 25px;
}
.box_text{
    font-size: 14px;
    margin-top: 5px;
}

/* Sheif */

.sheif img{
    width: 100%;
    border-radius: 20px;
}
.sheif_heading{
    font-size: 45px;
    color: orange;
    text-transform: uppercase;
}
.sheif{
    background: linear-gradient(to right bottom, orange,orangered);
    color: #ffff;
    height: 400px;
}
.sheif_text{
    font-size: 20px;
}

/* Contact Section  */
.contact_heading{
    font-size: 40px;
    color: #f86329;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    color: #f86329;
}
.form label{
    font-size: 20px;
    margin: 10px 0;
}
.form input{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(87, 86, 86);
}
.form textarea{
    border: 1px solid rgb(87,86,86);
}
.form input:focus{
    outline: none;
    border: 1px solid #f86329;
}
.form textarea:focus{
    outline: none;
    border: 1px solid #f86329;
}
.form textarea{
    resize: none;
    margin-bottom: 15px;
    padding: 20px 0;
}
.submit{
    border-radius: 10px;
}

footer{
    background: rgb(20, 20, 20);
    height: 150px;
}

.footer_heading{
    font-size: 35px;
    color: grey;
    margin-top: 30px;
}
.footer_text{
    color: #ffff;
}