*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Uchen', serif;
}
/* Utilities */
.text-primary{
    color: rgb(255, 166, 0);
}
.btn{
    display: inline-block;
    text-decoration: none;
     color: #ffff;
     background: linear-gradient(to right, #c20508,#f86329);
     padding: 8px 25px;
     border-radius: 100px;    
}
.my-1{
    margin-top: 10px;
}
.my-3{
    margin-top: 20px;
}
.py-3{
    padding: 20px 0;
}
.padding-bottom{
    padding-bottom: 100px;
}
.text-center{
    text-align: center;
}
.flex_container{
    display: flex;
    max-width: 1100px;
    margin:  0 auto;
}
.flex_center{
    justify-content: center;
}
.hero_content{
    margin-top: 60px;
    width: 60%;
}
.hero_heading{
    font-size: 60px;
    width: 80%;
    line-height: 1.5;
    color: #333;
}
.hero_text{
    font-size: 17px;
    width: 80%;
    text-align: justify;
    margin: 15px 0;
    line-height: 1.6;
}
.hero_img{
width: 40%;
}
.hero_img img{
    width: 90%;
}

/* About Section */
.about_section{
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
}
.about_heading{
    font-size: 40px;
    color: rgb(156, 155, 155);
}
.about_text{
    text-align: justify;
}
/* Recipies Section  */
.recipies_heading{
    font-size: 40px;
    color: rgb(148, 145, 145);
}
.recipies_text{
    padding: 0 20px;
}

.box_container{
    width: 100%;
    margin-top: 10px;
}

.box{
    width: 100%;
    padding: 10px;
    box-shadow: 4px 6px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
}
.box_1,.box_2{
    margin-right: 30px;
    
}

.box img{
    width: 320px;
    margin-left: 4px;
}
.box_title{
    font-size: 25px;
}
.box_text{
    font-size: 14px;
    margin-top: 5px;
}